*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

/* ----------------------------------- */
body {
  font-family: "Urbanist", sans-serif;
  color: #555671;
  font-size: 18px;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 240px 15px;
  justify-content: center;
}
[class*="__tittle"] {
  font-size: 40px;
  color: #181a3f;
  letter-spacing: 2px;
  line-height: 1.2;
}
[class*="__top"] {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;
  gap: 33%;
}
/* ------------header------------- */
.header {
  width: 100%;
}
.header__container {
  min-height: 120px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 15px;
}
.header-logo {
  flex: 1 1 50%;
}
.header-menu {
  flex: 1 1 50%;
  justify-content: flex-end;
  display: flex;
}
.header-menu__item:not(:last-child) {
  margin-right: 18px;
}
.menu-cart {
  text-transform: uppercase;
  color: #181a3f;
  flex: 1 1 auto;
}
.menu-burger {
  flex: 0 0 53px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  cursor: pointer;
}
.menu-burger::after,
.menu-burger::before {
  content: "";
  width: 54px;
  height: 3px;
  background-color: #181a3f;
}
.menu-cart::after {
  content: "( 0 )";
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
/* --------------main---------------- */
.main {
  width: 100%;
}
.main__section {
  width: 100%;
}
.main__container {
  position: relative;
  height: 885px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line {
  border-bottom: 2px solid #e9ecef;
}
.main__content {
  flex: 0 1 50%;
}
.main_tittle-box {
  margin-bottom: 13px;
  max-width: 630px;
}
.main__tittle {
  font-size: 54px;
  line-height: 78px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}
.main-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main_text {
  margin-bottom: 42px;
  max-width: 442px;
}
.main-buttons {
  max-width: 732px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
}
.button {
  flex: 0 0 auto;
  color: #181a3f;
  border: 2px solid #181a3f;
  padding: 17px 56px;
  font-size: 20px;
  line-height: 22px;
  line-height: 92%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #181a3f;
  color: #fff;
}
.contact-us__button {
  border: 2px solid #ff7549;
  background-color: #ff7549;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}
.contact-us__button:hover {
  background-color: #fff;
  color: #ff7549;
  border: 2px dashed #ff7549;
}
.contact-us__button:active {
  border: 2px solid #ff7549;
}
/* --------blocks------ */
.blocks {
  z-index: -1;
  position: absolute;
  top: 122px;
  right: 0;
  display: grid;
  grid-template-columns: 295px 295px;
  grid-template-rows: 295px 295px 295px;
  justify-content: end;
}
.block {
  width: 295px;
  height: 295px;
  z-index: 1;
  position: relative;
}
.block_1 {
  background-color: #233b99;
}
.block_1::after,
.block_1::before {
  position: absolute;
  content: "";
  width: 295px;
  height: 147.5px;
}
.block_1::after {
  background-color: #4c67d0;
  bottom: 0;
  border-radius: 1000px 1000px 0 0;
}
.block_1::before {
  background-color: #cddceb;
  border-radius: 0 0 1000px 1000px;
}
.block_2 {
  background: linear-gradient(45deg, #ffdcd0 50%, #ff7549 50%);
}
.block_3 {
  background: linear-gradient(-45deg, #ff7549 50%, #fff 50%);
}
.block_4 {
  background-color: #233b99;
}
.block_4::after {
  position: absolute;
  content: "";
  width: 192px;
  height: 192px;
  background-color: #cddceb;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  border-radius: 1000px;
}
.block_5 {
  background: linear-gradient(45deg, #cddceb 50%, #233b99 50%);
}
.block_6 {
  background-color: #ff7549;
}
.block_6::after {
  position: absolute;
  content: "";
  background-color: #ffdcd0;
  height: 295px;
  width: 295px;
  border-radius: 1000px 0 0 0;
}
@media (max-width: 768px) {
  .absolute-decor {
    display: none;
  }
  .main-text {
    align-items: center;
    justify-content: center;
  }
  .main_text {
    text-align: center;
  }
  .main__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-buttons {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .main__content {
    flex: 0 1 auto;
  }
  .button {
    padding: 13px 40px;
  }
  .contact-us__button {
    padding: 17px 56px;
  }
  [class*="__container"] {
    padding: 75px 15px;
  }
  @media (max-width: 520px) {
    .button {
      font-size: 14px;
      padding: 13px 20px;
    }
    .contact-us__button {
      padding: 15px 40px;
    }
  }
}
/* ------------------------------------------------------ */
.services__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 106px 97px;
}

.services__tittle {
  max-width: 548px;
}
.services-button {
  flex: 0 0 auto;
}
.services__item {
  display: flex;
  flex-direction: column;
  width: 342px;
  height: 251px;
}
.item__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92px;
  margin-bottom: 26px;
}
.item__content {
  max-width: 316px;
  flex: 0 1 auto;
}
.item-tittle {
  margin-bottom: 13px;
}
.slash::before {
  content: "/";
  color: #ff7549;
  width: 12px;
  height: 39px;
  left: 0;
}
.item__tittle {
  font-size: 28px;
}

@media (max-width: 1224px) {
  .services__content {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px 40px;
  }
  [class*="top"] {
    flex-direction: column;
    gap: 40px;
  }
  [class*="__tittle"] {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .services__content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 50px 40px;
  }
}

/* -------------about us----------------------- */
.about-us__section {
  width: 100%;
}
.about-us__tittle {
  max-width: 476px;
}
.about-us__text {
  position: relative;
  font-size: 18px;
  line-height: 140%;
  max-width: 418px;
}
.about-us__content {
  justify-content: center;
  display: grid;
  grid-template-columns: 468px 260px 492px;
  grid-template-rows: 260px 468px 260px;
}
.about-us__text_1 {
  justify-self: start;
  align-self: start;
  grid-row: 1;
  grid-column: 1;
}
.about-us__img_1 {
  grid-row: 2;
  grid-column: 1;
}
.about-us__text_2 {
  grid-row: 3;
  grid-column: 3;
  justify-self: end;
  align-self: center;
}
.about-us__img_2 {
  grid-row: 1;
  grid-column: 3;
}
.about-us__block {
  position: relative;
  width: 260px;
  height: 260px;
}

.about-us__block_1 {
  grid-column: 2;
  grid-row: 1;
  background-color: #ff7549;
}
.about-us__block_1::after {
  position: absolute;
  content: "";
  width: 166px;
  height: 166px;
  background-color: #ffdcd0;
  border-radius: 100%;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.about-us__block_4 {
  grid-row: 3;
  grid-column: 2;
  background-color: #ff7549;
}
.about-us__block_4::after {
  position: absolute;
  content: "";
  width: 260px;
  height: 130px;
  background-color: #ffdcd0;
  border-radius: 1000px 1000px 0 0;
  bottom: 0;
}
.about-us__block_2 {
  align-self: end;
  grid-column: 2;
  grid-row: 2;
  background: linear-gradient(45deg, #233b99 50%, #fff 50%);
}
.about-us__block_3 {
  width: 236px;
  height: 236px;
  align-self: end;
  grid-row: 2;
  grid-column: 3;
  background-color: #233b99;
}
.about-us__block_3::after {
  position: absolute;
  content: "";
  width: 118px;
  height: 236px;
  background-color: #cddceb;
  border-radius: 0 1000px 1000px 0;
  right: 0;
  transform: translate(100%);
}
@media (max-width: 1224px) {
  .about-us__content {
    grid-template-columns: 327.6px 182px 344.4px;
    grid-template-rows: 182px 327.6px 182px;
  }
  .about-us__block {
    width: 182px;
    height: 182px;
  }
  .about-us__img_1 img {
    width: 327.6px;
    height: 327.6px;
  }
  .about-us__img_2 img {
    width: 344.4px;
    height: 344.4px;
  }
  .about-us__block_1::after {
    width: 116.2px;
    height: 116.2px;
  }
  .about-us__block_3 {
    width: 165.2px;
    height: 165.2px;
  }
  .about-us__block_3::after {
    height: 165.2px;
    width: 82.6px;
  }
  .about-us__block_4::after {
    height: 91px;
    width: 182px;
  }
  .about-us__text {
    font-size: 18px;
    line-height: 1.2;
    max-width: 330px;
  }
}
@media (max-width: 1024px) {
  .about-us__content {
    grid-template-columns: 234px 130px 246px;
    grid-template-rows: 130px 234px 130px;
  }
  .about-us__block {
    width: 130px;
    height: 130px;
  }
  .about-us__img_1 img {
    width: 234px;
    height: 234px;
  }
  .about-us__img_2 img {
    width: 246px;
    height: 246px;
  }
  .about-us__block_1::after {
    width: 83px;
    height: 83px;
  }
  .about-us__block_3 {
    width: 118px;
    height: 118px;
  }
  .about-us__block_3::after {
    height: 118px;
    width: 59px;
  }
  .about-us__block_4::after {
    height: 65px;
    width: 130px;
  }
  .about-us__text {
    font-size: 14px;
    line-height: 1;
    max-width: 220px;
  }
}
@media (max-width: 768px) {
  .about-us__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .about-us__text {
    font-size: 18px;
    line-height: 1.2;
    max-width: 330px;
  }
  .about-us__text_1 {
    justify-self: center;
    align-self: center;
  }
  .about-us__text_2 {
    justify-self: center;
    align-self: center;
  }
  .about-us__block {
    display: none;
  }
  .about-us__img_1 img {
    width: 327.6px;
    height: 327.6px;
  }
  .about-us__img_2 img {
    width: 344.4px;
    height: 344.4px;
  }
}
/* -------------------browse more-------------------------- */
.browse-more__section {
}
.browse-more__container {
}
.browse-more__top {
}
.browse-more_tittle-box {
  max-width: 456px;
}
.browse-more__tittle {
}
.browse-more-button {
}
.browse-more__content {
}
.browse-more__servise {
  font-size: 18px;
  text-transform: uppercase;
}
.browse-more__description {
}
.browse-more__item {
}
.browse-more__item_1 {
}
.browse-more__text {
}
.browse-more__item_2 {
}
.browse-more__item_3 {
}
.browse-more__item_4 {
}
.gray-slash {
  color: #d9d8d5;
}
