*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;700&display=swap");
/* ----------------------------------- */
body {
  font-family: "Inter", sans-serif;
  color: #555671;
  font-size: 18px;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
[class*="__tittle"] {
  font-size: 40px;
  color: #181a3f;
  letter-spacing: 2px;
  line-height: 1.2;
}
/* ------------------------- */
.header {
  width: 100%;
}
.header__container {
  min-height: 120px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__logo {
  flex: 1 1 50%;
}
.header-menu {
  flex: 1 1 50%;
  justify-content: flex-end;
  display: flex;
}
.header-menu__item:not(:last-child) {
  margin-right: 18px;
}
.menu-cart {
  text-transform: uppercase;
  color: #181a3f;
  flex: 1 1 auto;
}
.menu-burger {
  flex: 0 0 53px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  cursor: pointer;
}
.menu-burger::after,
.menu-burger::before {
  content: "";
  width: 54px;
  height: 3px;
  background-color: #181a3f;
}
/* ------------------------------ */
.main {
  width: 100%;
}
.main__container {
  display: flex;
}
.main__content {
  flex: 0 1 50%;
  align-items: center;
}
.main-tittle {
}
.main__tittle {
}
.main-text {
}
.main-buttons {
}
.contacy-us__btn {
}
.button {
}
/* --------------------- */
.main-decor {
  flex: 0 1 50%;
}
.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.block {
  width: 295px;
  height: 295px;
  z-index: 1;
  position: relative;
}
.block_1 {
  background-color: #233b99;
}
.block_1::after,
.block_1::before {
  position: absolute;
  content: "";
  width: 295px;
  height: 147.5px;
  z-index: 2;
}
.block_1::after {
  background-color: #233b99;
}
.block_1::before {
  background-color: #cddceb;
}
.block_2 {
}
.block_3 {
  background: linear-gradient(-45deg, #ff7549 50%, #fff 50%);
}
.block_4 {
}
.block_5 {
}
.block_6 {
}
